<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node
            pkg="odometry_optimizer"
            type="odometry_optimizer"
            name="odometry_optimizer"
            required="true"
            output="screen"
    />
    <node
            pkg="odometry_optimizer"
            type="echo_node"
            name="echo_node"
            required="true"
            output="screen"
    />
    <param name="imu_topic_name" value="/imu0"/>
    <param name="odometry1_topic_name" value="/echo/rovio/odometry"/>
    <param name="odometry2_topic_name" value="/echo/aft_mapped_to_init_CORRECTED"/>

    <param name="gyro_noise_density" value="0.00016968"/>
    <param name="gyro_random_walk" value="0.000019393"/>
    <param name="acc_noise_density" value="0.002"/>
    <param name="acc_random_walk" value="0.003"/>

    <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
        <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
        <param name="camera0_config" value="$(find rovio)/cfg/euroc_cam0.yaml"/>
        <param name="camera1_config" value="$(find rovio)/cfg/euroc_cam1.yaml"/>
    </node>

</launch>
